---
import "../styles/global.css";

interface Props {
  pageTitle?: string; // Título específico para la página actual
  pageDescription?: string; // Descripción específica para la página actual
  className?: string; // Clases CSS adicionales para el body
  lang?: string; // Idioma preferido para la página
}

const { pageTitle, pageDescription, className, lang } = Astro.props;
---

<!doctype html>
<html lang={lang} class="antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />
  </head>
  <body class={`min-h-screen bg-b ${className}`}>
    <div
      
    >
      <slot />
    </div>
  </body>
</html>
